.env
.env.*
!.env.example

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.cache/
.langgraph_api/
build/
dist/
site/
.eggs/
*.egg-info/

.python-version
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pyre/
.pytype/
.dmypy.json
dmypy.json

.ipynb_checkpoints
.DS_Store
*.log
pip-log.txt

.cursorignore
.cursorindexingignore
.abstra/
